<%= provide(:title, 'Sign Up') %>

<div class="row">
  <div class="small-10 small-centered medium-4 medium-centered columns">
    <h2 id="sign_up">Sign Up</h2>
    <%= form_for(@user) do |f| %>
      <%= f.label :first_name, 'First Name' %>
      <%= f.text_field :first_name %>
      <%= f.label :last_name, 'Last Name' %>
      <%= f.text_field :last_name %>
      <%= f.label :email, 'E-mail' %>
      <%= f.email_field :email %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= f.label :password_confirmation, 'Password Confirmation' %>
      <%= f.password_field :password_confirmation %>
      <%= f.submit 'Create My Account', class: 'expanded button' %>
    <% end %>
  </div>
</div>
